.course {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;
}


.REMOVE {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column; */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#courseForm {
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25%;
}

  
  #courseForm input[type="text"],
  #courseForm input[type="number"],
  #courseForm input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

